<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="govsecConnectionString1" connectionString="Server=localhost\SQLEXPRESS;Database=govsec1;User Id=joseph;Password=2Banshin!;"
   providerName="System.Data.SqlClient" />
  <add name="govsecConnectionString2" connectionString="Server=localhost\SQLEXPRESS;Database=govsect;User Id=joseph;Password=2Banshin!;"
   providerName="System.Data.SqlClient" />
       <add name="UserDBConnectionString" 
         connectionString="Server=localhost\SQLEXPRESS;Database=joseph;User Id=joseph;Password=2Banshin!;" 
         providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="CalendarAjaxAspNetAjaxBehavior">
					<enableWebScript/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
		<services>
			<service name="CalendarAjax">
				<endpoint address="" behaviorConfiguration="CalendarAjaxAspNetAjaxBehavior" binding="webHttpBinding" contract="CalendarAjax"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
